<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag 'profile.jpeg' %>
	</div>

	<div id="content">
		<h1>Hey, I'm Mackenzie Child</h1>
		<p>Welcome to week 2 of my 12 Web appps in 12 weeeks challenge.</p>
		<p>This week i lfjskfksfsfklsfsfsfslfsjflksjfsj</p>
		<p>If you'd like fldsjflksfjksklfsjflksf <a href="http://www.so.com">jjj</a></p>
	</div>
</div>